@import "../../../_globalColor";

.about-me-container {
  padding-top: 4%;
  padding-bottom: 8%;
  padding-left: 8%;

  p {
    color: $textColorWhite;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .icon-link {
    font-size: 50px;
  }

  .github {
    color: black;
  }

  .gmail {
    color: red;
  }

  .facebook {
    color: rgb(76, 0, 255);
  }

  .linkedin {
    color: rgb(37, 37, 138);
  }

  i:hover {
    color: black;
  }
}
