<div
  fxLayout="row"
  fxLayoutGap="8%"
  class="full-width about-me-container"
>
  <div fxLayout="column">
    <div>
      <h1>{{aboutMeInfo.title}}</h1>
      <p>
        {{aboutMeInfo.lineOne}}
      </p>
      <p>
        {{aboutMeInfo.lineTwo}}
      </p>
      <p>
        {{aboutMeInfo.lineThree}}
      </p>
    </div>
    <div fxLayout="row" fxLayoutGap="2%">
      <i class="fab fa-github icon-link github"></i>
      <i class="fab fa-linkedin icon-link facebook"></i>
      <i class="fab fa-facebook icon-link facebook"></i>
      <i class="fas fa-envelope icon-link gmail"></i>
    </div>
  </div>
  <div>
    <img src="../../../assets/photos/animated-hi.PNG" />
  </div>
</div>
