<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="8%"
  class="full-width container-section"
>
  <div fxLayout="column">
    <div>
      <h1>Hi, I am Ovidiu !</h1>

      <p>
        I am an enthusiast software developer focusing on full-stack
        development.
      </p>
      <p>
        Computer Science is fascinating and I spend a lot of my spare time
        learning new technologies in programming.
      </p>
      <p>
        At the moment I work as a Full Stack Developer, primarily using Angular
        and .NET Core.
      </p>
    </div>
    <div fxLayout="row" fxLayoutGap="3%">
      <fa-icon class="icon-link" [icon]="github"></fa-icon>
      <fa-icon class="icon-link" [icon]="linkedin"></fa-icon>
    </div>
  </div>
  <div>
    <img src="../../../assets/images/animated-hi.PNG" />
  </div>
</div>
