@import "../../../_globalColor";

.about-me-container {
  padding-top: 4%;
  padding-bottom: 8%;
  padding-left: 8%;

  p {
    color: $textColorWhite;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .icon-link {
    font-size: 50px;
  }

  .github {
    color: $githubColor;
  }

  .gmail {
    color: $gmailColor;
  }

  .facebook {
    color: $facebookColor;
  }

  .linkedin {
    color: $linkedinColor;
  }

  i:hover {
    color: $hover;
    cursor: pointer;
  }
}
