@import "../../../_globalColor";

.about-me-container {
  padding-top: 8%;
  padding-bottom: 12%;
  margin-left: 2%;
  margin-right: 2%;

  .description-container {
    span {
      color: $textColorWhite;
      font-size: 1.7em;
      font-family: $textFont;
      font-weight: lighter;
      padding-bottom: 2%; 
    }
  }

  button {
    margin-left: 2%;
    margin-top: 2%;
    width: 200px;
    height: 40px;
    background-color: $resumeButtonColor;
    border-radius: 10px;
    color: $textColorWhite;
    font-family: $titlesFont;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: none;
  }

  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: $titlesFont;
    margin-bottom: 2%;
  }

  .icon-link {
    font-size: 50px;
  }

  .github {
    color: $githubColor;
  }

  .gmail {
    color: $gmailColor;
  }

  .facebook {
    color: $facebookColor;
  }

  .linkedin {
    color: $linkedinColor;
  }

  i:hover {
    color: $hover;
    cursor: pointer;
  }
}

.about-me-image {
  width: 45vw;
  height: auto;
}

@media (max-width: 768px) {
  .about-me-image {
    width: 90vw;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
  }
}