@import "../../../_globalColor";

.contact-me-container {
  padding-left: 6%;
  padding-bottom: 4%;
  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: $titlesFont;
    margin-bottom: 2%;
  }
}

.location{
  color: $textColorWhite;
  font-size: x-large;
}

.location:hover{
  color: $textColorWhite;
}

h2{
  color: $borderColor;
  font-family: $textFont;
  font-size: larger;
}

.icon-link {
  font-size: 50px;
}

.github {
  color: $githubColor;
}

.gmail {
  color: $gmailColor;
}

.facebook {
  color: $facebookColor;
}

.linkedin {
  color: $linkedinColor;
}

i:hover {
  color: $hover;
  cursor: pointer;
}