<!-- <header class="header">
  <a href="/" class="logo">
    <span class="grey-color"> &lt;</span>
    <span class="logo-name">{{developerName}}</span>
    <span class="grey-color">/&gt;</span>
  </a>
  <ul class="dark-menu">
    <li *ngFor="let item of headerMenuButtons;">
      <a href="#{{item.ref}}">{{item.title}}</a>
    </li>
  </ul>
</header> -->

<nav class="navbar">
  <a href="/" class="logo">
    <span class="grey-color"> &lt;</span>
    <span class="logo-name">{{developerName}}</span>
    <span class="grey-color">/&gt;</span>
  </a>
  <ul class="nav-links">
    <input [(ngModel)]="isChecked" type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <div class="menu" id="menu">
      <li id="hide" *ngFor="let item of headerMenuButtons;">
        <a (click)="closeMenu()" href="#{{item.ref}}">{{item.title}}</a>
      </li>
    </div>
  </ul>
</nav>
