@import "../../../globalColor";

.headroom-wrapper {
  max-height: 100px;
}

.dark-menu {
  background-color: $darkBackground !important;
  color: $textColorWhite;

  li a:hover {
    background-color: $buttonColor !important;
  }

  li a {
    color: $textColorWhite !important;
  }
}

.header {
  background-color: $darkBackground;
  max-width: 100%;
  padding: 15px 20px;
  margin: 0px auto;

  .logo{
    display: block;
    flex: none;
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
  }

  .logo-name {
    font-family: "Agustina Regular";
    font-weight: bold;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;
    color: $developerNameColor;
  }

  .grey-color {
    color: $bracketColor;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li a {
    display: block;
    padding: 15px 20px;
    color: $textColor;
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;
  }
}
