<div class="skills-container" fxLayout="row wrap" fxLayoutGap="4%" fxLayoutAlign="center">
  <div fxFlex>
    <img style="width: 100vh;" src="../../../assets/skills.PNG" />
  </div>
  <div class="skill-container" fxFlex fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start">
    <h1>{{skillsSection.title}}</h1>

    <p class="short-description">
      {{skillsSection.subTitle}}
    </p>

    <div class="icons-skills-list" fxLayout="row wrap" fxLayoutGap="4%" fxLayout="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fab fa-angular skill-icon"></i>
        <span>Angular</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fab fa-sass skill-icon"></i>
        <span>SCSS</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fab fa-microsoft skill-icon"></i>
        <span>.NET Core</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fab fa-js skill-icon"></i>
        <span>Javascript</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fab fa-html5 skill-icon"></i>
        <span>HTML</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="far fa-file-code skill-icon"></i>
        <span>Typescript</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="fas fa-database skill-icon"></i>
        <span>SQL</span>
      </div>
    </div>

    <div class="skills-list" *ngFor="let item of skillsSection.skillsList" fxLayout="row" fxLayoutGap="2%">
      <i class="fas fa-bolt list-pointer"></i>
      <span>{{item.info}}</span>
    </div>
  </div>
</div>
