@import "../../../_globalColor";
.skills-container{
  margin-bottom: 10%;
  margin-left: 4%;
}


.skill-container {
  .short-description {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .skill-icon {
    font-size: 80px;
    color: $grayColor;
  }

  .list-pointer {
    color: $boltColor;
    font-size: x-large;
    cursor: pointer;
  }

  .icons-skills-list{
    padding-top: 5%;
    padding-bottom: 5%;

    i:hover {
      color: $blackColor;
      cursor: pointer;
    }

    span:hover {
      color: $blackColor;
      cursor: pointer;
    }
  }

  .skills-list {
    span {
      color: $textColorWhite;
      font-size: x-large;
    }
  }

  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: $titlesFont;
    margin-bottom: 2%;
  }

  p {
    color: $textColorWhite;
  }

  span {
    color: $grayColor;
  }
}


.skills-image {
  width: 45vw;
  height: auto;
  max-height: 60vh;
}

@media (max-width: 768px) {
  .skills-image {
    width: 90vw;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
  }
}
