<div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="center">
  <div>
    <img src="../../../assets/photos/skills.PNG" />
  </div>
  <div fxLayout="column">
    <h1>What I do ?</h1>
    <p>
      Front-end development using Typescript, Angular, Javascript, SASS, CSS,
      HTML
    </p>
    <p>
      Building REST API using .NET Core, Entity Framework, ASP.NET MVC, Spring
      Boot
    </p>
    <p>Database management tools such as MySQL, SQL Server Management</p>
    <p>Knowledge in mobile development using Java, Firebase, Retrofit</p>
    <p>Good understanding of OOP concepts</p>
    <p>
      Highly organized, attention to detail, problem-solving & good
      communication skills
    </p>
  </div>
</div>
