@import "../../../_globalColor";

.open-source-container {
  padding-top: 2%;
  margin-bottom: 10%;
  margin-left: 6%;
  margin-right: 6%;
  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: $titlesFont;
    margin-bottom: 2%;
  }
}

.open-source-project-card {
  width: 35vh;
  height: 20vh;
  background-color: $backgroundColorCard;
  margin-top: 1%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  span {
    color: $textColor;
  }

  p {
    color: $textColor;
  }
}
