@import "../../../_globalColor";

.work-experience-container {
  h1 {
    color: $textColorWhite;
  }
}

.work-experience-card {
  width: 40vh;
  height: 40vh;
  border: 1px solid $borderColor;
  text-align: center;
  background-color: $cardWorkExperienceColor;
  border-radius: 10px;

  h1 {
    padding-bottom: 20%;
  }

  h3 {
    color: $textColorWhite;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: $textColorWhite;
  }

  p {
    color: $textColorWhite;
  }
}
