<h1 style="text-align: center; padding-top: 10%; padding-bottom: 4%;">Work Experiences</h1>
<div class="work-experience-container" fxLayout="row" fxLayoutAlign="center">
  <div class="experience-card">
    <div class="experience-banner">
      <div class="experience-blurred_div"></div>
      <div class="experience-div-company">
        <h5 class="experience-text-company">GEP</h5>
      </div>
    </div>
    <div class="experience-text-details">
      <h5 class="experience-text-role">Associate Software Engineer</h5>
      <h5 class="experience-text-date">Nov 2021 - Present</h5>
      <p class="subTitle experience-text-desc">Software Developer</p>
      <ul></ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="experience-banner">
      <div class="experience-blurred_div"></div>
      <div class="experience-div-company">
        <h5 class="experience-text-company">The Code Crowd</h5>
      </div>
    </div>
    <div class="experience-text-details">
      <h5 class="experience-text-role">Full-stack Software Developer</h5>
      <h5 class="experience-text-date">Jan 2020 - Oct 2021</h5>
      <p class="subTitle experience-text-desc">Software Developer</p>
      <ul></ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="experience-banner">
      <div class="experience-blurred_div"></div>
      <div class="experience-div-company">
        <h5 class="experience-text-company">AROBS</h5>
      </div>
    </div>
    <div class="experience-text-details">
      <h5 class="experience-text-role">.NET Full-stack student program</h5>
      <h5 class="experience-text-date">Jun 2020 - Aug 2020</h5>
      <p class="subTitle experience-text-desc">Software Developer</p>
      <ul></ul>
    </div>
  </div>
</div>
