<div fxLayout="row wrap" fxLayoutGap="2%" fxLayout="row wrap" fxLayout="center center" fxLayout.xs="column">
  <div fxFlex class="education-container" fxLayout="column" fxLayoutAlign="start">
    <h1>{{ educationSection.title }} 👨‍🎓 </h1>
    <div class="timeline">
      <ul>
        <li *ngFor="let item of educationSection.educationList">
          <span>{{ item.dateRange }}</span>
          <div class="content">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.subTitle }}</h3>
            <p>
              {{ item.description }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <img class="education-image" src="assets/education.PNG" />
  </div>
</div>
