<div fxLayout="row" fxLayoutGap="4%">
  <div class="education-container" fxLayout="column" fxLayoutAlign="start">
    <h1>{{ educationSection.title }}</h1>
    <div class="timeline">
      <ul>
        <li *ngFor="let item of educationSection.educationList">
          <span>{{ item.dateRange }}</span>
          <div class="content">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.subTitle }}</h3>
            <p>
              {{ item.description }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <img
    style="width: 40%; height: 40%; padding-top: 14%"
    src="assets/education.PNG"
  />
</div>
