@import "../../../_globalColor";

.education-container {
  margin-left: 2%;
  margin-bottom: 10%;
}

h1 {
  color: $textColorWhite;
  font-size: xxx-large;
  font-family: $titlesFont;
  margin-bottom: 1%;
}

.timeline {
  width: 800px;
  background-color: $containerBackgroundColor;
  color: #fff;
  // padding: 30px 20px;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
}
.timeline ul li {
  margin-right: 1%;
  margin-top: 2%;
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  background-color: $cardTimelineColor;
  border-radius: 10px;
}
.timeline ul li span {
  display: inline-block;
  background-color: #1685b8;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 15px;
  font-family: $titlesFont;
  font-weight: bold;
  text-align: center;
}
.h2 {
  font-family: $titlesFont;
}
.timeline ul li .content h3 {
  color: #34ace0;
  font-size: 17px;
  padding-top: 5px;
  font-family: $titlesFont;
}
.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
  font-family: $textFont;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34ace0;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  background-color: #073246;
}
.timeline ul li:hover:before {
  background-color: rgb(0, 183, 255);
  box-shadow: 0px 0px 10px 2px rgb(0, 225, 255);
}

@media (max-width: 768px) {
  .timeline {
    width: 100%;
    margin-right: 2%;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    margin-right: 2%;
    font-size: 15px;
  }
}

.education-image {
  width: 45vw;
  height: auto;
  max-height: 60vh;
}

@media (max-width: 768px) {
  .education-image {
    width: 90vw;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
  }
}