@import "../../../_globalColor";

.projects-container {
  h1 {
    color: $textColorWhite;
  }
}

.project-card {
  width: 35vh;
  height: 20vh;
  background-color: $backgroundColorCard;
  border: 1px solid $borderColor;
  margin-left: 1%;
  margin-top: 1%;

  span {
    color: $textColor;
  }

  p {
    color: $textColor;
  }
}
