@import "../../../_globalColor";

.projects-container {
  margin-bottom: 10%;
  h1 {
    color: $textColorWhite;
    font-size: xxx-large;
    font-family: $titlesFont;
    margin-bottom: 2%;
  }
}

.project-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 35vh;
  height: 20vh;
  background-color: $backgroundColorCard;
  margin-left: 6%;
  margin-top: 1%;

  span {
    color: $textColor;
  }

  p {
    color: $textColor;
  }
}
